@{
	ViewData["Title"] = "Purchase Requirements";
}

<style>
    .state-table {
    }

        .state-table table tbody tr td .state-name {
            color: red;
            font-size: 32px;
            text-shadow: 2px 2px 4px black, 2px 2px 10px black, 2px 2px 20px black, 25px 2px 10px black, 2px 2px 4px black, 2px 2px 10px black, 2px 2px 20px black, 25px 2px 10px black;
        }

        .state-table table tbody tr td .state-restriction {
            margin: 10px;
            font-size: 24px;
        }



    .page-header {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    div.table-container.state-restrictions {
        max-width: 1200px;
    }

        div.table-container.state-restrictions div.table {
            grid-template-columns: 200px 1fr;
        }

            div.table-container.state-restrictions div.table div.row {
            }

                div.table-container.state-restrictions div.table div.row div.element {
                }

                    div.table-container.state-restrictions div.table div.row div.element:nth-child(odd) {
                        color: red;
                        font-size: 32px;
                        text-shadow: 2px 2px 4px black, 2px 2px 10px black, 2px 2px 20px black, 25px 2px 10px black, 2px 2px 4px black, 2px 2px 10px black, 2px 2px 20px black, 25px 2px 10px black;
                    }

                    div.table-container.state-restrictions div.table div.row div.element:nth-child(even) {
                        margin: 10px;
                        font-size: 24px;
                    }

    .requirements {
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        font-size: 32px;
        line-height: 1.5em;
    }
</style>

<div class="page-header">
    <div class="title">
        <p>Purchase Requirements</p>
    </div>

</div>

<div class="text-l">
    <p>
        Thanks to our <span class="text-highlight" style="color:gold;">
            Great President, Donald J.
            Trump
        </span>, the tyrannical measures enforced by the
        <span class="text-red text-highlight">Cryptkeeper Biden Gestapo Administration</span> to
        deprive citizens their <span class="text-highlight text-strong">
            God Given right to
            Keep and Bear Arms
        </span> will soon be lifted. The citizens will no longer fear the
        government, the
        government will fear the citizens. Still, there are states <span class="text-red text-highlight">
            run
            by communists
        </span> who seek
        to abridge this inalienable right by enforcing <span class="text-red text-highlight">
            universal
            background checks
        </span> and
        <span class="text-red text-highlight">
            unconstitutional mandatory gun confiscation
            programs
        </span> to disarm their citizens. These
        regulations make buisness impossible, and thus we have no choice but to refuse sales to the
        following states:
    </p>
</div>
<div class="table-container state-restrictions">
    <div class="table">
        <div class="row">
            <div class="element">
                <p>California</p>
            </div>
            <div class="element">
                <p>
                    WE ARE REGISTERED WITH CALIFORNIA DOJ TO SHIP - Handgun sales only
                    to "01"
                    Dealer FFL, handguns must be on the California approved list however
                    C&R
                    Handguns can be shipped to 01 Dealers. No High Capacity magazine
                    sales, No
                    Assault Weapon sales. C&R Licensees may purchase C&R rifles only if
                    made prior
                    to 50 YEAR OLD LIMIT regardless if the rifle appears on the Federal
                    C&R list, CA
                    rule. All CA Dealers must give us their CFD# before ordering. Check
                    for other
                    Local & State laws before ordering or leave that burning hellhole.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="element">
                <p>Illinois</p>
            </div>
            <div class="element">
                <p>
                    No Firearms sales to Chicago, Nor all of Cooke County. C&R 03
                    Licensees may
                    purchase C&R Eligible firearms, however Illinois FOID card must be
                    on file.
                    Check for other Local & State laws before ordering.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="element">
                <p>Massachusetts</p>
            </div>
            <div class="element">
                <p>
                    ALL SALES PROHIBITED BY STATE LAW
                </p>
            </div>
        </div>
        <div class="row">
            <div class="element">
                <p>Maryland</p>
            </div>
            <div class="element">
                <p>
                    ALL SALES PROHIBITED BY STATE LAW
                </p>
            </div>
        </div>
        <div class="row">
            <div class="element">
                <p>New Jersey</p>
            </div>
            <div class="element">
                <p>
                    No Sales of CETME Rifles. Firearms sales only to 01 FFL Dealer
                    licensees.
                    Absolutely no Handgun sales to C&R 03 licensees. No High Capacity
                    Magazine
                    Sales. Check for other Local & State laws before ordering.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="element">
                <p>Democratic People's Republic New York</p>
            </div>
            <div class="element">
                <p>
                    WE NO LONGER SHIP TO NY BECAUSE OF THE "SAFE" ACT! IT IS TOO DAMN
                    MUCH TO DEAL
                    WITH, YOUSE PEOPLE NEED TO GET YOUR CRAP TOGETHER AND GET RID OF
                    YOUR
                    COMMISSARS.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="element">
                <p>Washington, District of Communists</p>
            </div>
            <div class="element">
                <p>
                    ALL SALES PROHIBITED BY COMMITTEE LAW. THIS MAY CHANGE IF CONGRESS
                    GETS OFF
                    THEIR LAZY BUTTS AND KICKS THE COMMISSION THE HELL OUT!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="element">
                <p>Connecticut</p>
            </div>
            <div class="element">
                <p>
                    No Sales of WASR, CETME Rifles, or FAL Rifles.
                </p>
            </div>
        </div>
    </div>
</div>

<p style="color:gray">
    The above list shall not be construed to be an inclusive list of all federal,
    state, local, and
    communist laws applicable thereof.
</p>






<div class="page-seperator">
</div>

<div class="requirements">
    <p>
        Your Credit Card will not be charged until we confirm your order and it is ready to ship. <span class="text-yellow text-strong text-highlight">
            IF YOU ORDER A BACK-ORDER ITEM A NON-REFUNDABLE $25 CHARGE
            WILL APPLY AT THE TIME OF ORDER.
        </span> We have had problems lately, some have ordered
        firearms, we get them in and because the customer had purchased elsewhere, we are left holding
        the bag. <span class="text-yellow">Sorry for the inconvenience.</span> The <span class="text-highlight">$25 Deposit WILL APPLY TO YOUR TOTAL.</span> We <span class="text-strong">DO NOT</span> keep your credit card information. Once we have an
        approval code for your purchase amount, all credit card information is destroyed as per the
        "<span class="text-underline">Payment Card Industry Data Security Standard</span>" (PCI DSS).
    </p>

    <p>
        Our <span class="text-highlight">Above Industry Standard Shipping Rates</span> makes us a Cut
        Above the Rest. Handguns ship for <span class="text-strong">$17.99</span> for the first handgun,
        and <span class="text-strong">$5.99</span> each for the next three additional Handguns in the
        same order. Long Guns ship at <span class="text-strong">$19.99</span> for the first Long Gun,
        and <span class="text-strong">$12.99</span> for each additional Long Gun in the same order. Due
        to shipping restrictions, Handgun orders must be filled separately from Long Guns, orders can
        not be mixed.
    </p>

    <p>
        <span class="text-highlight">Original Signed copy of C&R required</span> Prior to shipment of any
        C&R weapon. <span class="text-underline">FAXED or emailed copy of 01FFL</span> needed prior to
        shipment of any 01 weapon. <span class="text-yellow">
            OUR FAX IS ON 9-5 (minus coffee
            breaks)!
        </span>
    </p>

    <p>
        It is <span class="text-strong">Required</span> for you to have a copy of your signed Federal
        Firearms License, or Collector of Curio & Relics License on file with us <span class="text-strong">BEFORE ordering Firearms</span> from this Website. It is also required
        to have a copy of any local or state licenses required for a firearm purchase to be on file. All
        orders placed without, or prior to, an signed copy of the Federal Firearms License (or other
        necessary licensing) on file will be <span class="text-red">Deleted without notice.</span>
        Please call or email us referencing your Zip code and Name as it appears on your FFL, to verify
        a current copy is on file.
    </p>

    <p>
        <span class="text-highlight">
            Federal, State, and Local Laws Relating to Firearms
            Purchases:
        </span>
    </p>

    <p>
        We comply with <span class="text-strong">ALL</span> Local, State, and Federal laws. You must be
        aware of any Federal laws affecting your purchase. If you are not allowed to own or possess a
        firearm legally, <span class="text-red">please do not contact us!</span> You will be referred to
        the nearest ATF office by your local constabulary. <span class="text-red">
            Attempting to
            illegally purchase firearms is not cool, we will turn you in.
        </span>
    </p>

    <p>
        The above list of state and local laws is <span class="text-underline">
            NOT represented to be
            all-inclusive
        </span> of the 50 states' numerous firearms and magazine laws. Please know your
        Local and State Laws <span class="text-strong">BEFORE</span> purchasing High Capacity Magazines
        and Firearms. Individual Local & State laws are too bloody numerous to list on our website.
    </p>

</div>