@page
@{
	ViewData["Title"] = "Policy";
}

<style>

    .state-table {
    }

        .state-table table tbody tr td .state-name {
            color: red;
            font-size: 32px;
            text-shadow: 2px 2px 4px black, 2px 2px 10px black, 2px 2px 20px black, 25px 2px 10px black, 2px 2px 4px black, 2px 2px 10px black, 2px 2px 20px black, 25px 2px 10px black;
        }

        .state-table table tbody tr td .state-restriction {
            margin: 10px;
            font-size: 24px;
        }



    .page-header {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    div.table-container.state-restrictions {
        max-width: 1200px;
    }

        div.table-container.state-restrictions div.table {
            grid-template-columns: 200px 1fr;
        }

            div.table-container.state-restrictions div.table div.row {
            }

                div.table-container.state-restrictions div.table div.row div.element {
                }

                    div.table-container.state-restrictions div.table div.row div.element:nth-child(odd) {
                        color: yellow;
                        font-size: 32px;
                        text-shadow: 2px 2px 4px black, 2px 2px 10px black, 2px 2px 20px black, 25px 2px 10px black, 2px 2px 4px black, 2px 2px 10px black, 2px 2px 20px black, 25px 2px 10px black;
                    }

                    div.table-container.state-restrictions div.table div.row div.element:nth-child(even) {
                        margin: 10px;
                        font-size: 24px;
                    }

    .catalog {
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        font-size: 32px;
        line-height: 1.5em;
    }
</style>

<div class="page-header">
    <div class="title">
        <p>Privacy and Return Policies</p>
    </div>

</div>

<div class="text-l">
    <p>
        If you have questions regarding our terms or policies, please email us at info@moorescnr.com
        because our goal is to make it easy for you to do business with us!
    </p>
</div>

<div class="table-container state-restrictions">
    <div class="table">
        <div class="row">
            <div class="element">
                <p>Privacy Policy</p>
            </div>
            <div class="element">
                <p>
                    Moore's C&R will not disclose buyers' information to third parties FOR ANY REASON
                    except for Law Enforcement. Cookies are not used on this website. We do not store
                    any credit card information. We do store FFL license and other legal documentation
                    for legal reasons.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="element">
                <p>Returns Policy</p>
            </div>
            <div class="element">
                <p>
                    Returns are very costly to us. We make every effort to insure your order is shipped
                    accurately and the product meets the standards of our advertising. If a Return must
                    be made, please note the following policy:
                    <br />
                    <br />
                    No Returns will be accepted after 30 days of the invoice Date.
                    <br />
                    <br />
                    Return Shipping Charges are the customers Responsibility. If the wrong product was
                    shipped in our error, a UPS call tag will be issued to return the item (s).
                    <br />
                    <br />
                    Upon receipt of the Returned product (s), we reserve the right to evaluate the
                    return to determine if a Refund or Exchange will be made.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="element">
                <p>Refunds policy</p>
            </div>
            <div class="element">
                <p>
                    Refunds will be made in the same manner in which payment was made. (I.e. credit card
                    purchases will be returned in the form of a credit to the original card account.)
                    <br />
                    <br />
                    If we deem a Return was made without reasonable cause, where in our judgment the
                    product meets advertised condition, the refund will be subject to a 15% Restocking
                    fee.
                    <br />
                    <br />
                    We reserve the right to determine whether a refund / return shall be made and
                    whether any applicable fees will be levied.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="element">
                <p>Exchanges policy</p>
            </div>
            <div class="element">
                <p>
                    When returning merchandise to be exchanged, please include estimated shipping
                    charges to ship your replacement order.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="element">
                <p>Damaged Shipping policy</p>
            </div>
            <div class="element">
                <p>
                    All care is taken in the packaging of your purchase to ensure that no damage will
                    occur. All firearms are shipped WITH PROPER INSURANCE. If your item (s) arrive
                    damaged it is the customers responsibility to contact the shipper, we will assist as
                    best as we can with the paperwork.
                </p>
            </div>
        </div>

    </div>
</div>